/* video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  } */

  .cards__item {
    display: orange;
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__img {
    position: absolute;
    margin-top: 8px;
    border-radius: 50px;

    height: 45%;
    max-height: 50%;
    transition: all 0.2s linear;
    background-color: aqua;
  }

  .cards__item__link {
    text-decoration: none;
    cursor: default;
  }

  .cards__item__h1 {
    color: #252e48;
    width: 50%;
    margin-top: 50px;
    margin-bottom: -4%;
    margin-left: 48%;
    font-size: 30px;
    height: 0px;
  }

  .cards__item__text {
    color: #252e48;
    width: 50%;
    margin-top: 11%;
    margin-left: 40%;
    font-size: 30px;
    line-height: 24px;
  }

  .hero-container {
    /* background: url('/public/images/img-home.jpg') 
    center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
background-color: rgb(247, 227, 190);
height: 95vh;
  }

  .hero-profile {
    /* make background color bmw m3 grey later with light blue border and light black shadowing */
    background-color: rgba(145, 149, 152);
    height: 50vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 89%;
    margin: 0 auto;
    border-style: solid;
    border-width: 21px;
    border-style: ridge;
    border-left: 21px;
    border-bottom: 21px;
    border-radius: 19px;
    border-color: rgb(89, 77, 77);

  }

  .hero-profile > img {
    width: 50%;
    height: 20rem;
    margin-right: 26rem;
    position: absolute;
    z-index: 100;
  }

  .hero-profile > h1 {
    color:#fff;
    font-size: 50px;
    margin-top: -30px;
    margin-left: 32rem;
    padding-bottom: 20px;
  }
  
  .hero-profile > p {
    margin-top: 8px;
    margin-left: 31rem;
    color: #fff;
    font-size: 22px;
    width: 800px;
    word-break:break-all;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }

  .hero-skills-btns {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;

    
  }

  .hero-skills-btns .btn{
    margin: 6px;
    border-style: solid;
    border-width: 11px;
    border-style: ridge;
    border-left: 5px;
    border-bottom: 2px;
    border-radius: 10px;
    border-color: rgb(38, 134, 147);
    background-color: rgba(145, 149, 152);

  }

  .hero-btns {
    margin-top: 32px;
    background-color: black;
    border-radius: 10px;

  }

  .hero-btns .btn {
    margin: 6px;
    border-color: rgb(38, 134, 147);
    border-style: solid;
    border-width: 11px;
    border-style: ridge;
    border-left: 5px;
    border-right: 5px;
    border-radius: 10px;

  }







  @media screen and (max-width: 1008px) {

    .hero-btns {
      margin-left: 15%;
    }
    .cards__item__img {
        position: absolute;
    margin-top: 65px;


    height: 30%;
    }

    .cards__item__h1 {
        font-size: 30px;
        margin-left: 43%;
    }

    .cards__item__text {
        font-size: 23px;
    }

    .hero-container > h1 {
        font-size: 15px;
        margin-top: -100px;
      }

    .hero-container > p {
        font-size: 10px;
            word-break:break-all;
    }
    .hero-btns {
      display: flex;
      flex-flow: wrap;
      
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
        justify-content: space-between;
        margin-right: 10px;
    }

    .btn {
        width: 100%;
    }
  }

  @media screen and (max-width: 708px) {
    .cards__item__img {
        position: absolute;
    margin-top: 65px;


    height: 28%;
    }

    .cards__item__h1 {
        font-size: 20px;
        margin-left: 52%;

    }

    .cards__item__text {
        margin-top: 15%;
        font-size: 14px;
        margin-left: 52%;
        word-break:break-all;
    }

}


