
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
/* video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  } */

  

  .cards__item1 {
    display: #6E1C14;
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }

  .cards {
    background-color: rgb(89, 77, 77);
  }

  .cards__items1 {
    background: purple;
    margin-bottom: 24px;
  }

.projects {
  scroll-behavior: smooth;
}

  .cards__item__link1 {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    background: rgb(196, 195, 195);
  }

  .cards__item__h11 {
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 8%;

    font-size: 15px;
    height: 0px;
  }

  .cards__item__text1 {
    color: rgb(160, 160, 160);
    width: 100%;

    margin-bottom: 10%;
    font-size: 20px;
    line-height: 24px;
  }

  .project__container {
    /* background: url('/public/images/img-home.jpg') 
    center center/cover no-repeat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
background-color: rgb(41, 40, 36);

  }

.cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap1 {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img1 {
  animation-name: fade-img;
  animation-duration: 2s;
}

/* .cards__item__pic-wrap1::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #8ae718;
  box-sizing: border-box;
} */

/* .cards__item__img1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: scale-down;
  transition: all 0.2s linear;
  background-color: rgba(145, 149, 152);
} */

.cards__item__info1 {
  padding: 20px 20px 10px;
  background-color: #252e48;
}

  .project__profile > img {
    width: 50%;
    height: 20rem;
    margin-right: 26rem;
    position: relative;
    z-index: 100;
  }

  .project__profile > h1 {
    color:#fff;
    font-size: 50px;
    margin-top: -30px;
    margin-left: 32rem;
    padding-bottom: 20px;
  }
  
  .project__profile > p {
    margin-top: 8px;
    margin-left: 31rem;
    color: #fff;
    font-size: 22px;
    width: 800px;
    word-break:break-all;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }

  .project-skills-btns {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;

    
  }

  .project-skills-btns .btn{
    margin: 6px;
    border-style: solid;
    border-width: 11px;
    border-style: ridge;
    border-left: 5px;
    border-bottom: 2px;
    border-radius: 10px;
    border-color: rgb(38, 134, 147);
    background-color: rgba(145, 149, 152);

  }

  .project-btns {
    margin-top: 32px;
    background-color: black;
    border-radius: 10px;

  }

  .project-btns .btn {
    margin: 6px;
    border-color: rgb(38, 134, 147);
    border-style: solid;
    border-width: 11px;
    border-style: ridge;
    border-left: 5px;
    border-right: 5px;
    border-radius: 10px;

  }




  @media screen and (max-width: 1008px) {

    .project-btns {
      margin-left: 15%;
    }
    .cards__item__img {
        position: absolute;
    margin-top: 65px;


    height: 30%;
    }

    .cards__item__h1 {
        font-size: 30px;
        margin-left: 43%;
    }

    .cards__item__text {
        font-size: 23px;
    }

    .project-container > h1 {
        font-size: 15px;
        margin-top: -100px;
      }

    .project-container > p {
        font-size: 10px;
            word-break:break-all;
    }
    .project-btns {
      display: flex;
      flex-flow: wrap;
      
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
        justify-content: space-between;
        margin-right: 10px;
    }

    .btn {
        width: 100%;
    }
  }

  @media screen and (max-width: 708px) {
    .cards__item__img {
        position: absolute;
    margin-top: 65px;


    height: 28%;
    }

    .cards__item__h1 {
        font-size: 20px;
        margin-left: 52%;

    }

    .cards__item__text {
        margin-top: 15%;
        font-size: 14px;
        margin-left: 52%;
        word-break:break-all;
    }

}


